.rps-rock-class {
    background: url('../images/rpsRock.png');
    background-size: cover;
    display: table;
    width: 100px;
    height: 100px;
}

.rps-paper-class {
    background-image: url('../images/rpsPaper.png');
    background-size: cover;
    display: table;
    width: 100px;
    height: 100px;
}

.rps-scissors-class {
    background-image: url('../images/rpsScissors.png');
    background-size: cover;
    display: table;
    width: 100px;
    height: 100px;
}

.rps-question-class {
    background-image: url('../images/questionMark.jpeg');
    background-size: cover;
    display: table;
    width: 100px;
    height: 100px;
}

.rps-choice-button-class {
    width: 240px;
    margin: 10px auto;
    border: 1px solid gray;
    padding: 5px;
    borderRadius: 5px;
}

.rps-game-player-label {
    width: 100%;
    text-align: center;
    color: #7d0a2f;
}

.rps-move-image-class {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.rps-panel-move-image-class {
    border: 1px solid skyblue;
    borderRadius: 2px;
    width: 140px;
    margin: 0 auto;
}

.repository-list-panel-class {
    height: calc(100% - 180px);
    overflow: hidden;
    position: absolute;
    width: calc(100% - 32px);
}

.repo-language-color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.repo-text-with-icon {
    margin: -11px 3px 0px 5px;
}

.repository-note {
    color: darkred;
    width: 98%;
    text-align: center;
    border-bottom: 1px solid;
    margin: 0 auto;
}

.label-bookmark {
    width: auto;
    text-align: center;
    border-bottom: 1px solid;
}

.panel-bookmark {
    width: 165px;
    margin: 0 auto;
    margin-top: 10px;
}