.login-label-style {
    font-size: 12px;
    margin-top: 8px;
}

.login-page-form {
    background-color: whitesmoke;
    margin: 0 auto;
    position: relative;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    border: 1px solid #ab7c7c;
}

.login-form-input-row {
    height: 160px;
    padding: 30px 5px;
}

.login-form-input {
    width: 90%;
    margin: 0 auto;
    height: 50px;

}
